/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('./assets/images/book2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  *{
    color: white;
  }
}
